In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.9.9)

In [2]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [3]:
# Goal Table

# data
goal_data = {'goal_id': [1],
        'goal_title': ['Decent Work and Economic Growth'],
        'goal_desc': ['Promote sustained, inclusive and sustainable economic growth, full and productive employment and decent work for all'],
        'goal_num': ['8']}

# Create a DataFrame
goal = pd.DataFrame(goal_data)

# Display the DataFrame
print(goal)

   goal_id                       goal_title  \
0        1  Decent Work and Economic Growth

                                           goal_desc goal_num
0  Promote sustained, inclusive and sustainable e...        8

In [4]:
#Target Table

# data
target_data = {'target_id': [1, 2],
        'goal_id': [1, 1],
        'target_num': ['8.1', '8.5'],
        'target_desc': [
            'Sustain per capita economic growth in accordance with national circumstances and, in particular, at least 7 per cent gross domestic product growth per annum in the least developed countries',
            'By 2030, achieve full and productive employment and decent work for all women and men, including for young people and persons with disabilities, and equal pay for work of equal value'
        ]}

# Create a DataFrame
target = pd.DataFrame(target_data)

# Display the DataFrame
print(target)

   target_id  goal_id target_num  \
0          1        1        8.1
1          2        1        8.5

                                         target_desc
0  Sustain per capita economic growth in accordan...
1  By 2030, achieve full and productive employmen...

In [5]:
# Subindicator Table

# data
subindicator_data = {'subindicator_id': [1, 2],
        'subindicator_num': ['8.1.1', '8.5.2'],
        'subindicator_desc': [
            'Annual growth rate of real GDP per capita',
            'Unemployment rate by both sexes of 15 years and above'
        ]}

# Create a DataFrame
subindicator = pd.DataFrame(subindicator_data)

# Display the DataFrame
print(subindicator)

   subindicator_id subindicator_num  \
0                1            8.1.1
1                2            8.5.2

                                   subindicator_desc
0          Annual growth rate of real GDP per capita
1  Unemployment rate by both sexes of 15 years an...

In [6]:
filepath1 = 'C:/Users/mneme/Desktop/3I3D0811.csv'

In [7]:
filepath2 = 'C:/Users/mneme/Desktop/3I3D0861.csv'

In [8]:
df = pd.read_csv(filepath1)
print(df.head())
print(df.shape)

     8.1.1 Annual growth rate of real GDP per capita
0  Geolocation;"2000";"2001";"2002";"2003";"2004"...
1  PHILIPPINES;..;1.0;1.7;3.1;4.5;3.0;3.4;4.6;2.5...
(2, 1)

In [9]:
# Specify the column name
column_name = '8.1.1 Annual growth rate of real GDP per capita'

# Remove the values in index 0 and save them to a variable
removed_values = df[column_name].iloc[0]

# Update the DataFrame by removing the values in index 0
df[column_name] = df[column_name].iloc[1:].reset_index(drop=True)

# Print or use the removed values as needed
print(removed_values)
df

Geolocation;"2000";"2001";"2002";"2003";"2004";"2005";"2006";"2007";"2008";"2009";"2010";"2011";"2012";"2013";"2014";"2015";"2016";"2017";"2018";"2019";"2020";"2021";"2022"

     8.1.1 Annual growth rate of real GDP per capita
0  PHILIPPINES;..;1.0;1.7;3.1;4.5;3.0;3.4;4.6;2.5...
1                                                NaN

In [10]:
removed_values

'Geolocation;"2000";"2001";"2002";"2003";"2004";"2005";"2006";"2007";"2008";"2009";"2010";"2011";"2012";"2013";"2014";"2015";"2016";"2017";"2018";"2019";"2020";"2021";"2022"'

In [11]:
# Split the string and create a DataFrame with a single row
data = [removed_values.split(';')]
df1 = pd.DataFrame(data)

# Transpose the DataFrame
df_transposed = df1.transpose()

# Rename the columns
df_transposed.columns = ['Year']

# Drop the first row, which is now redundant
df_transposed = df_transposed.drop(0)

# Reset the index
df_transposed = df_transposed.reset_index(drop=True)

# Now, df_transposed is your transposed DataFrame
print(df_transposed)

      Year
0   "2000"
1   "2001"
2   "2002"
3   "2003"
4   "2004"
5   "2005"
6   "2006"
7   "2007"
8   "2008"
9   "2009"
10  "2010"
11  "2011"
12  "2012"
13  "2013"
14  "2014"
15  "2015"
16  "2016"
17  "2017"
18  "2018"
19  "2019"
20  "2020"
21  "2021"
22  "2022"

In [12]:
df_transposed['Year'] = df_transposed['Year'].str.replace('"','')

In [13]:
# Specify the column name
column_name = '8.1.1 Annual growth rate of real GDP per capita'

# Remove the values in index 0 and save them to a variable
removed_values = df[column_name].iloc[0]

# Update the DataFrame by removing the values in index 0
df[column_name] = df[column_name].iloc[1:].reset_index(drop=True)

# Print or use the removed values as needed
print(removed_values)
df

PHILIPPINES;..;1.0;1.7;3.1;4.5;3.0;3.4;4.6;2.5;-0.4;5.5;2.1;5.1;4.9;4.6;4.6;5.4;5.2;4.7;4.6;-10.8;4.3;...

  8.1.1 Annual growth rate of real GDP per capita
0                                             NaN
1                                             NaN

In [14]:
# Split the string and create a DataFrame with a single row
data = [removed_values.split(';')]
df2 = pd.DataFrame(data)

# Transpose the DataFrame
df_transposed2 = df2.transpose()

# Rename the columns
df_transposed2.columns = ['8.1.1 Annual growth rate of real GDP per capita']

# Drop the first row, which is now redundant
df_transposed2 = df_transposed2.drop(0)

# Reset the index
df_transposed2 = df_transposed2.reset_index(drop=True)

# Now, df_transposed is your transposed DataFrame
print(df_transposed2)

   8.1.1 Annual growth rate of real GDP per capita
0                                               ..
1                                              1.0
2                                              1.7
3                                              3.1
4                                              4.5
5                                              3.0
6                                              3.4
7                                              4.6
8                                              2.5
9                                             -0.4
10                                             5.5
11                                             2.1
12                                             5.1
13                                             4.9
14                                             4.6
15                                             4.6
16                                             5.4
17                                             5.2
18                                             4.7
19                                             4.6
20                                           -10.8
21                                             4.3
22                                             ...

In [15]:
data1 = pd.merge(df_transposed, df_transposed2,on=df_transposed['Year'],how='inner')
data1

   key_0  Year 8.1.1 Annual growth rate of real GDP per capita
0   2000  2000                                              ..
1   2001  2001                                             1.0
2   2002  2002                                             1.7
3   2003  2003                                             3.1
4   2004  2004                                             4.5
5   2005  2005                                             3.0
6   2006  2006                                             3.4
7   2007  2007                                             4.6
8   2008  2008                                             2.5
9   2009  2009                                            -0.4
10  2010  2010                                             5.5
11  2011  2011                                             2.1
12  2012  2012                                             5.1
13  2013  2013                                             4.9
14  2014  2014                                             4.6
15  2015  2015                                             4.6
16  2016  2016                                             5.4
17  2017  2017                                             5.2
18  2018  2018                                             4.7
19  2019  2019                                             4.6
20  2020  2020                                           -10.8
21  2021  2021                                             4.3
22  2022  2022                                             ...

In [16]:
# Remove the 'key_0' column
data1 = data1.drop('key_0', axis=1)

# Display the DataFrame without the 'key_0' column
print(data1)

    Year 8.1.1 Annual growth rate of real GDP per capita
0   2000                                              ..
1   2001                                             1.0
2   2002                                             1.7
3   2003                                             3.1
4   2004                                             4.5
5   2005                                             3.0
6   2006                                             3.4
7   2007                                             4.6
8   2008                                             2.5
9   2009                                            -0.4
10  2010                                             5.5
11  2011                                             2.1
12  2012                                             5.1
13  2013                                             4.9
14  2014                                             4.6
15  2015                                             4.6
16  2016                                             5.4
17  2017                                             5.2
18  2018                                             4.7
19  2019                                             4.6
20  2020                                           -10.8
21  2021                                             4.3
22  2022                                             ...

In [17]:
# Remove rows with values '..' or '...'
data1 = data1[~data1['8.1.1 Annual growth rate of real GDP per capita'].isin(['..', '...'])]

# Display the filtered DataFrame
print(data1)

    Year 8.1.1 Annual growth rate of real GDP per capita
1   2001                                             1.0
2   2002                                             1.7
3   2003                                             3.1
4   2004                                             4.5
5   2005                                             3.0
6   2006                                             3.4
7   2007                                             4.6
8   2008                                             2.5
9   2009                                            -0.4
10  2010                                             5.5
11  2011                                             2.1
12  2012                                             5.1
13  2013                                             4.9
14  2014                                             4.6
15  2015                                             4.6
16  2016                                             5.4
17  2017                                             5.2
18  2018                                             4.7
19  2019                                             4.6
20  2020                                           -10.8
21  2021                                             4.3

In [18]:
df = pd.read_csv(filepath2)
print(df.head())
print(df.shape)

             8.5.2 Unemployment rate, by sex and age
0  Geolocation;"Age Group";"Sex";"2000";"2001";"2...
1  PHILIPPINES;"15 years and above";"Both sexes";...
2  PHILIPPINES;"15 years and above";"Female";..;....
3  PHILIPPINES;"15 years and above";"Male";..;..;...
4  PHILIPPINES;"15 to 24 years old";"Both sexes";...
(10, 1)

In [19]:
# Specify the column name
column_name = '8.5.2 Unemployment rate, by sex and age'

# Remove the values in index 0 and save them to a variable
removed_values = df[column_name].iloc[0]

# Update the DataFrame by removing the values in index 0
df[column_name] = df[column_name].iloc[1:].reset_index(drop=True)

# Print or use the removed values as needed
print(removed_values)
df

Geolocation;"Age Group";"Sex";"2000";"2001";"2002";"2003";"2004";"2005";"2006";"2007";"2008";"2009";"2010";"2011";"2012";"2013";"2014";"2015";"2016";"2017";"2018";"2019";"2020";"2021";"2022"

             8.5.2 Unemployment rate, by sex and age
0  PHILIPPINES;"15 years and above";"Both sexes";...
1  PHILIPPINES;"15 years and above";"Female";..;....
2  PHILIPPINES;"15 years and above";"Male";..;..;...
3  PHILIPPINES;"15 to 24 years old";"Both sexes";...
4  PHILIPPINES;"15 to 24 years old";"Female";..;....
5  PHILIPPINES;"15 to 24 years old";"Male";..;..;...
6  PHILIPPINES;"24 years old and above";"Both sex...
7  PHILIPPINES;"24 years old and above";"Female";...
8  PHILIPPINES;"24 years old and above";"Male";.....
9                                                NaN

In [20]:
# Split the string and create a DataFrame with a single row
data = [removed_values.split(';')]
df1 = pd.DataFrame(data)

# Transpose the DataFrame
df_transposed = df1.transpose()

# Rename the columns
df_transposed.columns = ['Year']

# Drop rows with indices 0 to 2
df_transposed = df_transposed.drop(index=range(0, 3)).reset_index(drop=True)

# Reset the index
df_transposed = df_transposed.reset_index(drop=True)

In [21]:
df_transposed['Year'] = df_transposed['Year'].str.replace('"','')

In [22]:
# Specify the column name
column_name = '8.5.2 Unemployment rate, by sex and age'

# Remove the values in index 0 and save them to a variable
removed_values = df[column_name].iloc[0]

# Update the DataFrame by removing the values in index 0
df[column_name] = df[column_name].iloc[1:].reset_index(drop=True)

In [23]:
# Split the string and create a DataFrame with a single row
data = [removed_values.split(';')]
df2 = pd.DataFrame(data)

# Transpose the DataFrame
df_transposed2 = df2.transpose()

# Rename the columns
df_transposed2.columns = ['8.5.2 Unemployment rate, by sex and age']

# Drop rows with indices 0 to 2
df_transposed2 = df_transposed2.drop(index=range(0, 3)).reset_index(drop=True)

# Reset the index
df_transposed2 = df_transposed2.reset_index(drop=True)

In [24]:
data2 = pd.merge(df_transposed, df_transposed2,on=df_transposed['Year'],how='inner')
data2

   key_0  Year 8.5.2 Unemployment rate, by sex and age
0   2000  2000                                      ..
1   2001  2001                                      ..
2   2002  2002                                      ..
3   2003  2003                                      ..
4   2004  2004                                      ..
5   2005  2005                                     7.8
6   2006  2006                                     8.0
7   2007  2007                                     7.3
8   2008  2008                                     7.4
9   2009  2009                                     7.5
10  2010  2010                                     7.4
11  2011  2011                                     7.0
12  2012  2012                                     7.0
13  2013  2013                                     7.1
14  2014  2014                                     6.6
15  2015  2015                                     6.3
16  2016  2016                                     5.4
17  2017  2017                                     5.7
18  2018  2018                                     5.3
19  2019  2019                                     5.1
20  2020  2020                                    10.3
21  2021  2021                                     7.8
22  2022  2022                                     ...

In [25]:
# Remove the 'key_0' column
data2 = data2.drop('key_0', axis=1)

# Display the DataFrame without the 'key_0' column
print(data2)

    Year 8.5.2 Unemployment rate, by sex and age
0   2000                                      ..
1   2001                                      ..
2   2002                                      ..
3   2003                                      ..
4   2004                                      ..
5   2005                                     7.8
6   2006                                     8.0
7   2007                                     7.3
8   2008                                     7.4
9   2009                                     7.5
10  2010                                     7.4
11  2011                                     7.0
12  2012                                     7.0
13  2013                                     7.1
14  2014                                     6.6
15  2015                                     6.3
16  2016                                     5.4
17  2017                                     5.7
18  2018                                     5.3
19  2019                                     5.1
20  2020                                    10.3
21  2021                                     7.8
22  2022                                     ...

In [26]:
# Remove rows with values '..' or '...'
data2 = data2[~data2['8.5.2 Unemployment rate, by sex and age'].isin(['..', '...'])]

# Display the filtered DataFrame
print(data2)

    Year 8.5.2 Unemployment rate, by sex and age
5   2005                                     7.8
6   2006                                     8.0
7   2007                                     7.3
8   2008                                     7.4
9   2009                                     7.5
10  2010                                     7.4
11  2011                                     7.0
12  2012                                     7.0
13  2013                                     7.1
14  2014                                     6.6
15  2015                                     6.3
16  2016                                     5.4
17  2017                                     5.7
18  2018                                     5.3
19  2019                                     5.1
20  2020                                    10.3
21  2021                                     7.8

In [27]:
data1.shape

(21, 2)

In [28]:
data1 = data1.rename(columns={'Year': 'economics_date', '8.1.1 Annual growth rate of real GDP per capita': 'economics_value'})

In [29]:
# Add three new columns
data1['economics_id'] = range(1, len(data1) + 1)
data1['target_id'] = 1
data1['subindicator_id'] = 1

# Reorder the columns
data1 = data1[['economics_id', 'target_id', 'subindicator_id','economics_date', 'economics_value']]

# Display the modified DataFrame
print(data1)

    economics_id  target_id  subindicator_id economics_date economics_value
1              1          1                1           2001             1.0
2              2          1                1           2002             1.7
3              3          1                1           2003             3.1
4              4          1                1           2004             4.5
5              5          1                1           2005             3.0
6              6          1                1           2006             3.4
7              7          1                1           2007             4.6
8              8          1                1           2008             2.5
9              9          1                1           2009            -0.4
10            10          1                1           2010             5.5
11            11          1                1           2011             2.1
12            12          1                1           2012             5.1
13            13          1                1           2013             4.9
14            14          1                1           2014             4.6
15            15          1                1           2015             4.6
16            16          1                1           2016             5.4
17            17          1                1           2017             5.2
18            18          1                1           2018             4.7
19            19          1                1           2019             4.6
20            20          1                1           2020           -10.8
21            21          1                1           2021             4.3

In [30]:
data2 = data2.rename(columns={'Year': 'unemployment_date', '8.5.2 Unemployment rate, by sex and age': 'unemployment_value'})

In [31]:
# Add three new columns
data2['unemployment_id'] = range(1, len(data2) + 1)
data2['target_id'] = 2
data2['subindicator_id'] = 2

# Reorder the columns
data2 = data2[['unemployment_id', 'target_id', 'subindicator_id','unemployment_date', 'unemployment_value']]

# Display the modified DataFrame
print(data2)

    unemployment_id  target_id  subindicator_id unemployment_date  \
5                 1          2                2              2005
6                 2          2                2              2006
7                 3          2                2              2007
8                 4          2                2              2008
9                 5          2                2              2009
10                6          2                2              2010
11                7          2                2              2011
12                8          2                2              2012
13                9          2                2              2013
14               10          2                2              2014
15               11          2                2              2015
16               12          2                2              2016
17               13          2                2              2017
18               14          2                2              2018
19               15          2                2              2019
20               16          2                2              2020
21               17          2                2              2021

   unemployment_value
5                 7.8
6                 8.0
7                 7.3
8                 7.4
9                 7.5
10                7.4
11                7.0
12                7.0
13                7.1
14                6.6
15                6.3
16                5.4
17                5.7
18                5.3
19                5.1
20               10.3
21                7.8

In [32]:
from sqlalchemy import create_engine

# Create a connection to your PostgreSQL database
engine = create_engine('postgresql://Username:password@localhost:your_port/your_database_name')

# Drop tables with CASCADE option
engine.execute('DROP TABLE IF EXISTS goal CASCADE')
engine.execute('DROP TABLE IF EXISTS target CASCADE')
engine.execute('DROP TABLE IF EXISTS subindicator CASCADE')

# Recreate the tables
goal.to_sql('goal', con=engine, if_exists='replace', index=False)
target.to_sql('target', con=engine, if_exists='replace', index=False)
subindicator.to_sql('subindicator', con=engine, if_exists='replace', index=False)
data1.to_sql('economics', con=engine, if_exists='replace', index=False)
data2.to_sql('unemployment', con=engine, if_exists='replace', index=False)

# Restore unique constraint
engine.execute('ALTER TABLE goal ADD CONSTRAINT unique_goal_id UNIQUE (goal_id);')
engine.execute('ALTER TABLE target ADD CONSTRAINT unique_target_id UNIQUE (target_id);')
engine.execute('ALTER TABLE subindicator ADD CONSTRAINT unique_subindicator_id UNIQUE (subindicator_id);')

# Optionally, close the database connection
engine.dispose()

In [33]:
# Check inserted value in the database
# Replace these with your PostgreSQL connection details
db_params = {
    'host': 'your_host',
    'database': 'your_database_name',
    'user': 'Username',
    'password': 'password',
    'port': 'your_port'
}

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(**db_params)

# Query to select all data from the table
query1 = f"SELECT * FROM {'goal'};"
query2 = f"SELECT * FROM {'target'};"
query3 = f"SELECT * FROM {'subindicator'};"
query4 = f"SELECT * FROM {'unemployment'};"
query5 = f"SELECT * FROM {'economics'};"

# Use pandas to read SQL query results into a DataFrame
goal = pd.read_sql_query(query1, conn)
target = pd.read_sql_query(query2, conn)
subindicator = pd.read_sql_query(query3, conn)
unemployment = pd.read_sql_query(query4, conn)
economics = pd.read_sql_query(query5, conn)

# Close the database connection
conn.close()

# Display the DataFrame from the Database
print(goal.head())
print(target.head())
print(subindicator.head())
print(unemployment.head())
print(economics.head())

   goal_id                       goal_title  \
0        1  Decent Work and Economic Growth

                                           goal_desc goal_num
0  Promote sustained, inclusive and sustainable e...        8
   target_id  goal_id target_num  \
0          1        1        8.1
1          2        1        8.5

                                         target_desc
0  Sustain per capita economic growth in accordan...
1  By 2030, achieve full and productive employmen...
   subindicator_id subindicator_num  \
0                1            8.1.1
1                2            8.5.2

                                   subindicator_desc
0          Annual growth rate of real GDP per capita
1  Unemployment rate by both sexes of 15 years an...
   unemployment_id  target_id  subindicator_id unemployment_date  \
0                1          2                2              2005
1                2          2                2              2006
2                3          2                2              2007
3                4          2                2              2008
4                5          2                2              2009

  unemployment_value
0                7.8
1                8.0
2                7.3
3                7.4
4                7.5
   economics_id  target_id  subindicator_id economics_date economics_value
0             1          1                1           2001             1.0
1             2          1                1           2002             1.7
2             3          1                1           2003             3.1
3             4          1                1           2004             4.5
4             5          1                1           2005             3.0