In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.9.9)

In [2]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [3]:
# data
data = [
    (1, '2000'),
    (2, '2001'),
    (3, '2002'),
    (4, '2003'),
    (5, '2004'),
    (6, '2005'),
    (7, '2006'),
    (8, '2007'),
    (9, '2008'),
    (10, '2009'),
    (11, '2010'),
    (12, '2011'),
    (13, '2012'),
    (14, '2013'),
    (15, '2014'),
    (16, '2015'),
    (17, '2016'),
    (18, '2017'),
    (19, '2018'),
    (20, '2019'),
    (21, '2020'),
    (22, '2021')
]

# Column names
columns = ['date_key', 'date_year']

# Create DataFrame
date_dim = pd.DataFrame(data, columns=columns)

# Display the DataFrame
date_dim.head()

   date_key date_year
0         1      2000
1         2      2001
2         3      2002
3         4      2003
4         5      2004

In [4]:
# Replace these with your PostgreSQL connection details
db_params = {
    'host': 'your_host',
    'database': 'your_database_name',
    'user': 'Username',
    'password': 'password',
    'port': 'your_port'
}

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(**db_params)

# Replace 'your_table_name' with the name of your table
table_name = 'your_table_name'

# Query to select all data from the table
query1 = f"SELECT * FROM {'goal'};"
query2 = f"SELECT * FROM {'target'};"
query3 = f"SELECT * FROM {'subindicator'};"
query4 = f"SELECT * FROM {'unemployment'};"
query5 = f"SELECT * FROM {'economics'};"

# Use pandas to read SQL query results into a DataFrame
goal_dim = pd.read_sql_query(query1, conn)
target_dim = pd.read_sql_query(query2, conn)
subindicator_dim = pd.read_sql_query(query3, conn)
unemployment_fact = pd.read_sql_query(query4, conn)
economics_fact = pd.read_sql_query(query5, conn)

# Close the database connection
conn.close()

# Display the DataFrame
print(goal_dim.head())
print(target_dim.head())
print(subindicator_dim.head())
print(unemployment_fact.head())
print(economics_fact.head())

   goal_id                       goal_title  \
0        1  Decent Work and Economic Growth

                                           goal_desc goal_num
0  Promote sustained, inclusive and sustainable e...        8
   target_id  goal_id target_num  \
0          1        1        8.1
1          2        1        8.5

                                         target_desc
0  Sustain per capita economic growth in accordan...
1  By 2030, achieve full and productive employmen...
   subindicator_id subindicator_num  \
0                1            8.1.1
1                2            8.5.2

                                   subindicator_desc
0          Annual growth rate of real GDP per capita
1  Unemployment rate by both sexes of 15 years an...
   unemployment_id  target_id  subindicator_id unemployment_date  \
0                1          2                2              2005
1                2          2                2              2006
2                3          2                2              2007
3                4          2                2              2008
4                5          2                2              2009

  unemployment_value
0                7.8
1                8.0
2                7.3
3                7.4
4                7.5
   economics_id  target_id  subindicator_id economics_date economics_value
0             1          1                1           2001             1.0
1             2          1                1           2002             1.7
2             3          1                1           2003             3.1
3             4          1                1           2004             4.5
4             5          1                1           2005             3.0

In [6]:
# new column goal_key for each dim and fact table
goal_dim['goal_key'] = 1
target_dim['target_key'] = range(1, len(target_dim) + 1)
target_dim = target_dim.drop('goal_id', axis=1)
subindicator_dim['subindicator_key'] = range(1, len(subindicator_dim) + 1)
economics_fact['economics_key'] = range(1, len(economics_fact) + 1)
economics_fact['goal_key'] = 1
unemployment_fact['unemployment_key'] = range(1, len(unemployment_fact) + 1)
unemployment_fact['goal_key'] = 1

In [8]:
# Merge 
merged_df = pd.merge(economics_fact, date_dim, left_on='economics_date', right_on='date_year', how='inner')

# Extract the 'key' column as the final result
result_df = merged_df[['date_key']]

# Rename the column to 'date'
result_df = result_df.rename(columns={'date_key': 'date_key'})

# Display the result
print(result_df)

    date_key
0          2
1          3
2          4
3          5
4          6
5          7
6          8
7          9
8         10
9         11
10        12
11        13
12        14
13        15
14        16
15        17
16        18
17        19
18        20
19        21
20        22

In [12]:
economics_fact['economics_date'] = result_df['date_key']
economics_fact = economics_fact.rename(columns={'economics_date': 'date_key', 'target_id': 'target_key', 'subindicator_id': 'subindicator_key'})
economics_fact = economics_fact.drop(columns=['economics_id'])
economics_fact

,target_key,subindicator_key,date_key,economics_value,economics_key,goal_key,date_key
0,1,1,2,1.0,1,1,2
1,1,1,3,1.7,2,1,3
2,1,1,4,3.1,3,1,4
3,1,1,5,4.5,4,1,5
4,1,1,6,3.0,5,1,6
5,1,1,7,3.4,6,1,7
6,1,1,8,4.6,7,1,8
7,1,1,9,2.5,8,1,9
8,1,1,10,-0.4,9,1,10
9,1,1,11,5.5,10,1,11
10,1,1,12,2.1,11,1,12
11,1,1,13,5.1,12,1,13
12,1,1,14,4.9,13,1,14
13,1,1,15,4.6,14,1,15
14,1,1,16,4.6,15,1,16
15,1,1,17,5.4,16,1,17
16,1,1,18,5.2,17,1,18
17,1,1,19,4.7,18,1,19
18,1,1,20,4.6,19,1,20
19,1,1,21,-10.8,20,1,21
20,1,1,22,4.3,21,1,22

In [13]:
# Merge 
merged_df = pd.merge(unemployment_fact, date_dim, left_on='unemployment_date', right_on='date_year', how='inner')

# Extract the 'key' column as the final result
result_df = merged_df[['date_key']]

# Rename the column to 'date'
result_df = result_df.rename(columns={'date_key': 'date_key'})

# Display the result
print(result_df)

    date_key
0          6
1          7
2          8
3          9
4         10
5         11
6         12
7         13
8         14
9         15
10        16
11        17
12        18
13        19
14        20
15        21
16        22

In [14]:
unemployment_fact['unemployment_date'] = result_df['date_key']
unemployment_fact = unemployment_fact.rename(columns={'unemployment_date': 'date_key', 'target_id': 'target_key', 'subindicator_id': 'subindicator_key'})
unemployment_fact = unemployment_fact.drop(columns=['unemployment_id'])
unemployment_fact

,target_key,subindicator_key,date_key,unemployment_value,unemployment_key,goal_key
0,2,2,6,7.8,1,1
1,2,2,7,8.0,2,1
2,2,2,8,7.3,3,1
3,2,2,9,7.4,4,1
4,2,2,10,7.5,5,1
5,2,2,11,7.4,6,1
6,2,2,12,7.0,7,1
7,2,2,13,7.0,8,1
8,2,2,14,7.1,9,1
9,2,2,15,6.6,10,1
10,2,2,16,6.3,11,1
11,2,2,17,5.4,12,1
12,2,2,18,5.7,13,1
13,2,2,19,5.3,14,1
14,2,2,20,5.1,15,1
15,2,2,21,10.3,16,1
16,2,2,22,7.8,17,1

In [21]:
from sqlalchemy import create_engine

# Create a connection to your PostgreSQL database
engine = create_engine('postgresql://Username:password@localhost:your_port/your_database_name')

# Drop tables with CASCADE option
engine.execute('DROP TABLE IF EXISTS goal_dim CASCADE')
engine.execute('DROP TABLE IF EXISTS target_dim CASCADE')
engine.execute('DROP TABLE IF EXISTS subindicator_dim CASCADE')
engine.execute('DROP TABLE IF EXISTS date_dim CASCADE')

# Recreate the tables
goal_dim.to_sql('goal_dim', con=engine, if_exists='replace', index=False)
target_dim.to_sql('target_dim', con=engine, if_exists='replace', index=False)
subindicator_dim.to_sql('subindicator_dim', con=engine, if_exists='replace', index=False)
date_dim.to_sql('date_dim', con=engine, if_exists='replace', index=False)
economics_fact.to_sql('economics_fact', con=engine, if_exists='replace', index=False)
unemployment_fact.to_sql('unemployment_fact', con=engine, if_exists='replace', index=False)

# Recreate unique constraint
engine.execute('ALTER TABLE goal_dim ADD CONSTRAINT unique_goal_key UNIQUE (goal_key);')
engine.execute('ALTER TABLE target_dim ADD CONSTRAINT unique_target_key UNIQUE (target_key);')
engine.execute('ALTER TABLE subindicator_dim ADD CONSTRAINT unique_subindicator_key UNIQUE (subindicator_key);')
engine.execute('ALTER TABLE date_dim ADD CONSTRAINT unique_date_key UNIQUE (date_key);')

# Optionally, close the database connection
engine.dispose()

In [22]:
# Check inserted value in the database
# Replace these with your PostgreSQL connection details
db_params = {
    'host': 'your_host',
    'database': 'your_database_name',
    'user': 'Username',
    'password': 'password',
    'port': 'your_port'
}

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(**db_params)

# Query to select all data from the table
query1 = f"SELECT * FROM {'goal_dim'};"
query2 = f"SELECT * FROM {'target_dim'};"
query3 = f"SELECT * FROM {'subindicator_dim'};"
query4 = f"SELECT * FROM {'unemployment_fact'};"
query5 = f"SELECT * FROM {'economics_fact'};"
query6 = f"SELECT * FROM {'date_dim'};"

# Use pandas to read SQL query results into a DataFrame
goal_dim = pd.read_sql_query(query1, conn)
target_dim = pd.read_sql_query(query2, conn)
subindicator_dim = pd.read_sql_query(query3, conn)
date_dim = pd.read_sql_query(query6, conn)
unemployment_fact = pd.read_sql_query(query4, conn)
economics_fact = pd.read_sql_query(query5, conn)

# Close the database connection
conn.close()

# Display the DataFrame from the Database
print(goal_dim.head())
print(target_dim.head())
print(subindicator_dim.head())
print(date_dim.head())
print(unemployment_fact.head())
print(economics_fact.head())

   goal_id                       goal_title  \
0        1  Decent Work and Economic Growth

                                           goal_desc goal_num  goal_key
0  Promote sustained, inclusive and sustainable e...        8         1
   target_id target_num                                        target_desc  \
0          1        8.1  Sustain per capita economic growth in accordan...
1          2        8.5  By 2030, achieve full and productive employmen...

   target_key
0           1
1           2
   subindicator_id subindicator_num  \
0                1            8.1.1
1                2            8.5.2

                                   subindicator_desc  subindicator_key
0          Annual growth rate of real GDP per capita                 1
1  Unemployment rate by both sexes of 15 years an...                 2
   date_key date_year
0         1      2000
1         2      2001
2         3      2002
3         4      2003
4         5      2004
   target_key  subindicator_key  date_key unemployment_value  \
0           2                 2         6                7.8
1           2                 2         7                8.0
2           2                 2         8                7.3
3           2                 2         9                7.4
4           2                 2        10                7.5

   unemployment_key  goal_key
0                 1         1
1                 2         1
2                 3         1
3                 4         1
4                 5         1
   target_key  subindicator_key  date_key economics_value  economics_key  \
0           1                 1         2             1.0              1
1           1                 1         3             1.7              2
2           1                 1         4             3.1              3
3           1                 1         5             4.5              4
4           1                 1         6             3.0              5

   goal_key
0         1
1         1
2         1
3         1
4         1

In [23]:
# Checking the economics_fact table in the database
economics_fact.head()

,target_key,subindicator_key,date_key,economics_value,economics_key,goal_key
0,1,1,2,1.0,1,1
1,1,1,3,1.7,2,1
2,1,1,4,3.1,3,1
3,1,1,5,4.5,4,1
4,1,1,6,3.0,5,1